<div class="app-card-container">
  <div class="card"></div>
    <h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://mail.google.com/mail/u/0/?ui=2&ik=9509a1f4b6&view=att&th=15595380800706dd&attid=0.1&disp=safe&realattid=f_ipyxvydg0&zw", width: 300, alt: "profile image", class: 'profile-img' %>
  </div>

  <div class="col-md-8">
   <p>Hello, my name is Suzanne Katoa! I am a senior at Layton High School, I love to spend time with family and friends, and play volleyball. Food and fashion are my top two loves, if I can eat an amazing meal and be dressed in a fabulous outfit- I am a happy girl. Lastly I like long walks on the beach, pina-coladas, and getting caught in the rain. This is my first time creating a webpage of any sort and I have really enjoyed learning how to. Computer science is cool and complicated. I think it rocks! </p>
  </div>
</div>