<h1>About Me</h1>
<p>Hello, my name is Suzanne Katoa. I am a senior at Layton High School and I love to play volleyball. I like long walks on the beach, pina-coladas, and getting caught in the rain. This is my first time creating a webpage of any sort.</p>
