<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>440 Wasatch Dr, Layton, UT 84041</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "8046529877" %></p>

        <h3>Email</h3>

        <p><a href="mailto:zannetkatoa@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.1805641877627!2d-111.96170838421499!3d41.06504557929502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8753022c8d0016db%3A0xbbf8cbab94104215!2s440+Wasatch+Dr%2C+Layton%2C+UT+84041!5e0!3m2!1sen!2sus!4v1500390199093" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>      </div>
    </div>
  </div>